
#optionsQuizNameWrap{
      padding: 2%;
}

#optionsQuizName{
  font-size: 1.5em;
    text-transform: capitalize;
    font-weight: bold;

}
.form-check {
  
    margin: 1%;
      
      
}
#timer-timeGroup{
      display: none;
}

/* Customize the checkbox */
.form-check-input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

/* Style the checkbox label */
.form-check-label {
  margin-left: 10px;
}

/* Style the quiz time input */
#quiz-time {
  width: 80px;
}

/* Style the quiz time input group */
.input-group {
  margin-bottom: 20px;
}

/* Style the quiz time input group text */
.input-group-text {
  background-color: #007bff;
  color: #fff;
}

/* Style the start quiz button */
#start-btn {
  margin-top: 20px;
  background-color: #007bff;
  border: none;
}

/* Style the quiz options container */
.quiz-options {
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Make the quiz options container responsive */
@media (max-width: 767px) {
  .quiz-options {
    margin-top: 20px;
  }
}
