.quiz-info_His {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.quiz-info_His a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.quiz-info_His a:hover {
  text-decoration: underline;
}

a{
    text-decoration: none;
    color: #565656;
}

.quiz-info_His h4 {
  margin-bottom: 5px;
}

.quiz-info_His p {
  margin: 0;
}


 .quiz-card_top {
  text-decoration: none; /* Remove underline */

    padding: 20px;
    text-align: center;
    margin-bottom: 20px;

  }
.quiz-card_top a {
  text-decoration: none;

}
  .quiz-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .quiz-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
      text-decoration: none; /* Remove underline */

  }

  .quiz-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 0;
      text-decoration: none; /* Remove underline */

  }




/* CSS comments for the featured quizzes section */
.featured-quizzes-container {
  background-color: #f5f5f5;
  padding: 80px 0; /* Adjust the padding as needed */
}

.carousel_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px; /* Adjust the margin-top as needed */
}

.quiz-card_top {
  background-color: white;
    border: 1px solid #ced4da;
    border-radius: 4px;
 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px;
  position: relative;
  max-width: 300px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.quiz-card:hover {
  transform: translateY(-10px); /* Adjust the hover effect as needed */
}

.quiz-image {
  border-radius: 5px;
  height: 200px; /* Adjust the height as needed */
  object-fit: cover;
  width: 100%;
}

.quiz-title {
  font-size: 1.5rem;
  margin-top: 10px;
}

.quiz-description {
  margin-top: 10px;
}


/* CSS comments for the hero section */
.hero {
  background-color: #f5f5f5;
  padding: 80px 0; /* Adjust the padding as needed */
}

.hero h1 {
  color: #000; /* Adjust the text color as needed */
}

.hero p {
  color: #000; /* Adjust the text color as needed */
}

.hero .btn-primary {
  background-color: #0d6efd; /* Adjust the button background color as needed */
  color: #fff; /* Adjust the button text color as needed */
}

.hero img {
  max-width: 100%;
  height: auto;
}


/* CSS comments for the call-to-action section */
.call-to-action {
  padding: 4rem 0;
  background-color: #0d6efd;
  color: #fff;
  text-align: center;
}

.call-to-action h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.call-to-action p {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.call-to-action .btn-primary {
  font-size: 1.2rem;
  padding: 1.2rem 2.5rem;
}

@keyframes hover-animation {
  0% {
    /* Initial state */
    transform: scale(1);
  }
  50% {
    /* Intermediate state */
    transform: scale(1.2);
  }
  100% {
    /* Final state */
    transform: scale(1);
  }
}

/* Apply the animation  */
#mainCTA:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
  animation: loop-animation 2s infinite;
}


/* Define the keyframes for the animation */
@keyframes example-animation {
  0% {
    /* Initial state of the element */
    transform: scale(1);
  }
  100% {
    /* Final state of the element */
    transform: scale(1.2);
  }
}

/* Apply the animation to the element when hovered */
.ctaBTN {
  /* Set initial properties of the element */
  transition: transform 0.3s ease;
}

.ctaBTN:hover {
  /* Apply the animation on hover */
  animation: example-animation 0.3s infinite alternate;
}






/* CSS comments for the quiz categories section */
.quiz-categories {
  padding: 4rem 0;
  text-align: center;
}

.quiz-categories h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.category-card {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-image {
  width: 100%;
  height: auto;
}


.category-card h3 {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.5rem 0;
      text-decoration: none;
}


/* CSS comments for the quiz recommendations section */
.quiz-recommendations {
  padding: 4rem 0;
}

.quiz-recommendations h2 {
  font-size: 2.5
  font-weight: 700;
  margin-bottom: 2rem;
}

.quiz-info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.quiz-info {
  background-color: #f8f9fa;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.quiz-info a {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.quiz-info a:hover {
  color: #0d6efd;
}

.quiz-info p {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.quiz-info p:last-child {
  margin-bottom: 0;
}







.carousel-container {
  background-color: #f5f5f5;
  padding: 80px 0; /* Adjust the padding as needed */
}

.carousel-inner {
  margin: 0 auto;
}

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.card-img-top {
  border-radius: 50%;
  height: 120px; /* Adjust the height as needed */
  object-fit: cover;
  width: 120px; /* Adjust the width as needed */
  margin: 0 auto;
}

.card-title {
  font-size: 1.25rem;
  margin-top: 10px;
}

.card-text {
  margin-top: 10px;
}



















main_section{
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: block;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
#ad-container {
    position: absolute;
    width: 100%;
    height: 100%;
      display:none;
  }
#ad-box{
    text-align: center;
    display: block;
    height: 100%;
    background-color: #75a4e9;
    position: relative;
}
#ad-view{
   margin: auto;
    width: fit-content;
    top: 0 !important;
    bottom: 0 !important;
    display: block;
    left: 0;
    position: absolute;
    height: fit-content;
    right: 0;
    font-size: 2em;
}

  .ad-text {
    font-weight: bold;
  }


/* Reset styles */
      * {
        user-select: none;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
  
  transition-duration: 0.5s; /* 500 milliseconds */
  transition-timing-function: ease-in-out;
}

      /* Global styles */
      html {
        height: 100%;
      }

      body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
  
    width: 100% !important;
      }

#footer_XL {
  flex-shrink: 0;
}
      .container {
        flex: 1;
      }

    
      /* Quiz styles */
      #quiz-container {
        max-width: 750px;
        margin: 0 auto;
        text-align: center;
        margin-top: 50px;
        position: relative;
      }

      #quiz-container h1 {
        margin-bottom: 20px;
      }

      #quiz-container ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      #quiz-container li {
        margin: 10px 0;
      }

 .layer-1 {
    background-color: #F8F9FA;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    padding: 20px;
  }

  .layer-2 {
    background-color: #FFFFFF;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    padding: 20px;
    position: relative;
    width: 100%;
    display: grid;
  }


      .answer-option {
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        padding: 10px 20px;
        transition: background-color 0.3s ease;
        width: 100%;
        max-width: 400px;
        color: #292834;

      }

      .answer-option:hover {
        background-color: #ddd;
      }
#btn_container{
 display:block;
 
}

      #next-btn,
      #skip-btn {
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        margin: 20px 10px;
        padding: 10px 20px;
        transition: background-color 0.3s ease;
      }

      #next-btn:hover,
      #skip-btn:hover {
        background-color: #555;
      }




      /* Result styles */
      #end-container {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        margin-top: 50px;
      }

      #end-container h2 {
        margin-bottom: 20px;
      }

      #end-container p {
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
      }

      #retake-btn,
      .other-quiz-btn {
        background-color: #f8f9fa;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        margin: 20px 10px;
        padding: 10px 20px;
        transition: background-color 0.3s ease;
      }
.missed{
    background-color: #909fad !important;
}
  
/* Progress bar */

.progress-bar-container{
  display:flex;
}

.progress-bar {
  height: 10px;
  width: 0%;
  background-color: #007bff;
  border-radius: 4px;
  transition: width 0.2s ease;
     margin: 2% 0 4% 0;
}

.progress-bar-container.complete .progress-bar {
  background-color: #28a745;
}

.progress-bar-container.expired .progress-bar {
  background-color: #dc3545;
}

.progress-bar-container label {
  font-size: 14px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* Style for correct answer */
.correct {
  background-color: green  !important;
}

/* Style for incorrect answer */
.incorrect {
  background-color: red !important;
}

/* Style for correct answer option */
.correct::before {
  content: "\2713"; /* Unicode character for checkmark */
  color: white;
  display: inline-block;
  margin-right: 10px;
}

/* Style for incorrect answer option */
.incorrect::before {
  content: "\2718"; /* Unicode character for cross mark */
  color: white;
  display: inline-block;
  margin-right: 10px;
}

/* Style for skipped answer option */
.skipped::before {
  content: "?"; /* Unicode character for question mark */
  color: white;
  display: inline-block;
  margin-right: 10px;
}

/* Style for explanation */
#explanation {
  margin-top: 20px;
}

/* Style for result score */
.result-score {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Style for result message */
.result-message {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style for result detail */
.result-detail {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Style for quiz link */
.quiz-link {
  margin-top: 20px;
  font-size: 18px;
}

.quiz-link a {
  color: #333;
  text-decoration: underline;
}

.quiz-link a:hover {
  color: #555;
}














/* Result styles */
#end-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  background-color: #F8F9FA;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

#end-container h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
}

#end-container p {
  font-size: 1.2rem;
  color: #292834;
  margin-bottom: 10px;
}

#retake-btn,
.other-quiz-btn {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  margin: 20px 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

#retake-btn:hover,
.other-quiz-btn:hover {
  background-color: #555;
}


















/* Responsive Styles */
@media (max-width: 768px) {
  .quiz-card {
    max-width: 100%;
    margin: 20px 10px;
  }

  .quiz-image {
    height: 150px;
  }

  .quiz-title {
    font-size: 1.2rem;
  }

  .quiz-description {
    font-size: 1rem;
  }

  .carousel {
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  .quiz-card {
    max-width: 100%;
    margin: 20px 5px;
  }

  .quiz-image {
    height: 120px;
  }

  .quiz-title {
    font-size: 1rem;
  }

  .quiz-description {
    font-size: 0.9rem;
  }

  .carousel {
    margin-top: 20px;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero .btn-primary {
    font-size: 1rem;
    padding: 1rem 2rem;
  }

  .quiz-categories h2 {
    font-size: 2rem;
  }

  .category-card h3 {
    font-size: 1.5rem;
    padding: 1rem 0;
  }

  .quiz-recommendations h2 {
    font-size: 2rem;
  }

  .quiz-info a {
    font-size: 1.5rem;
  }

  .quiz-info p {
    font-size: 1.2rem;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.9rem;
  }

  .call-to-action h2 {
    font-size: 2rem;
  }

  .call-to-action p {
    font-size: 1rem;
  }

  .call-to-action .btn-primary {
    font-size: 1rem;
    padding: 1rem 2rem;
  }

  #quiz-container h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .answer-option {
    font-size: 14px;
    padding: 8px 16px;
  }

  #next-btn,
  #skip-btn {
    font-size: 14px;
    padding: 8px 16px;
    margin: 15px 5px;
  }

  #end-container h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  #end-container p {
    font-size: 1rem;
  }

  #retake-btn,
  .other-quiz-btn {
    font-size: 1rem;
    margin: 15px 10px;
    padding: 8px 16px;
  }
}














