/* Reset styles */
* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  flex: 1;
}

/* Navigation styles */
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

nav a:hover {
  color: #f8f8f8;
}

/* Quiz styles */
#quiz-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

#quiz-container h1 {
  margin-bottom: 20px;
}

#quiz-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#quiz-container li {
  margin: 10px 0;
}

.answer-option {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 400px;
  color: #292834;

}

.answer-option:hover {
  background-color: #ddd;
}

#next-btn,
#skip-btn {
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 20px 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

#next-btn:hover,
#skip-btn:hover {
  background-color: #555;
}



/* Result styles */
#result-container {
  display: none;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

#result-container h2 {
  margin-bottom: 20px;
}

#result-container p {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

#retake-btn,
.other-quiz-btn {
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 20px 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
#retake-btn:hover,
.other-quiz-btn:hover {
  background-color: #555;
}

/* Timer */
#timer {
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;

  color: #333;
}

.timer-container.timer-expiring span {
  color: red;
}

/* Answer text */
.answer-text {
  color: #333;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.answer-text.correct {
  color: #0a0;
}

.answer-text.incorrect {
  color: #f00;
}

/* Progress bar */

.progress-bar-container{
  display:flex;
  
}



/* Style for correct answer */
.correct {
  background-color: green;
}

/* Style for incorrect answer */
.incorrect {
  background-color: red;
}

/* Style for correct answer option */
.correct::before {
  content: "\2713"; /* Unicode character for checkmark */
  color: white;
  display: inline-block;
  margin-right: 10px;
}

/* Style for incorrect answer option */
.incorrect::before {
  content: "\2718"; /* Unicode character for cross mark */
  color: white;
  display: inline-block;
  margin-right: 10px;
}

/* Reset styles for options */
.options button {
  background-color: white;
}


.progress-bar {
  background-color: #ddd;
  border-radius: 10px;
  display: inline-block;
  height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.progress-bar-fill {
  background-color: #333;
  border-radius: 10px;
  height: 20px;
  transition: width 0.3s ease;
  width: 0%;
}


#final-score-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  text-align: center;
}

#final-score-popup h2 {
  margin-top: 100px;
  font-size: 30px;
}

#final-score-popup p {
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
}

#close-popup-btn {
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

#close-popup-btn:hover {
  background-color: #555;
}

