

/* Style the start quiz button */
#start-btn {
    margin-top: 20px;
    background-color: #fd7e14;
    border: none;
    margin-bottom: 15%;
    font-size: 3em;
    font-weight: 800;
    color: white;
    border-radius: 1em;
    text-shadow: -4px 2px 0px #6b6a6a;
    box-shadow: 3px 3px 0rem 3px #b98c03 !important;

}





#optionsQuizNameWrap{
      padding: 2%;
}

#optionsQuizName{
  font-size: 1.5em;
    text-transform: capitalize;
    font-weight: bold;

}
.form-check {
  
    margin: 1%;
      
      
}
#timer-timeGroup{
      display: none;
}

#timer-timeGroup label{
      margain:2%;     
      
}



/* Customize the checkbox */
.form-check-input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

/* Style the checkbox label */
.form-check-label {
  margin-left: 10px;
}

/* Style the quiz time input */
#quiz-time {
  width: 80px;
}

/* Style the quiz time input group */
.input-group {
  margin-bottom: 20px;
}

/* Style the quiz time input group text */
.input-group-text {
  background-color: #007bff;
  color: #fff;
}



/* Style the quiz options container */
.quiz-options {
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Make the quiz options container responsive */
@media (max-width: 767px) {
  .quiz-options {
    margin-top: 20px;
  }
}


#msg_quiz_name {
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: bold;
}
	

#explanation{
	
}
