
*{
    color: #636363;
}
.h1{
	    font-weight: 900;
}


.btnMain,
.btnMain:active {
    background-color: #fd7e14;
    color: #fff;
    cursor: pointer;

}


.btnMain:hover {
    color: #fff;
    background-color: rgb(201 99 14);
    border-color: rgb(108 117 125) ;
	cursor: pointer;
}


.PopupWrap{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #00000080;
    padding: 10%;
}



.explanation-container {
display:none;
}


#explanation-con h3{
    font-weight: 900;
    font-size: 1.5em;
}
##explanation {

    font-weight: 900;
    font-size: 1.8em;
}

.explanation{
  position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20%;
    width: 80%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    height: -webkit-fill-available;
    position: fixed;

	    background-color: #e7e7e7;
    border-radius: 2em;

    overflow-y: clip;
    box-shadow: inset 0px 1px 0rem 14px #fd7e14 !important;
    display: block;
}




#optionsMenu h3,  #quizInfoPopup h3 {
 margin-top: 0;
    font-size: 3em;
    font-weight: 900;
	color: #939393;
text-indent: 2%;
}
#optionsMenu input{
background-color: #fd7e14;
}
	#volumeSlider input,	#rateSlider input {
background-color: #000000;
}		

.optionspopup {
    background-color: #e7e7e7;
    padding: 5% 0 0 0;
    border-radius: 2em;
    margin: auto;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 80%;
    height: 80%;
    overflow-y: clip;
    box-shadow: inset 0px 1px 0rem 14px #fd7e14 !important;
    display: block;
	    overflow: hidden;
}

.scrollWrap{
    width: 98%;
    height: 86%;
    overflow-y: scroll;
    padding-bottom: 5%;
}


#quizInfoPopup, #optionsMenu{
width: 90%;
    margin: auto;
    box-sizing: border-box;
    padding: 1%;
    border-radius: 1em;
    font-weight: 900;
    color: #3c3b3a;
    margin-bottom: 10%;

}
#quizInfoPopup span, #optionsMenu span{
    color: #ffffff;

}

		
	#quizInfoPopup	p {
    margin-top: 0;
    margin-bottom: 1%;
}
		
.BottomCloseOptionsButton{
 width: 100%;
    background-color: #fd7e14;
    padding: 1%;
    border: none;
    font-size: 3em;
    font-weight: 800;
    color: white;
    box-sizing: border-box;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.center{
    margin: auto;
text-align: center;
}
.block{
width: 90%;
    display: block;
    margin: 1% auto;
    background-color: #fd7e14;
    box-sizing: border-box;
    padding: 2%;
    border-radius: 25px;
    box-shadow: inset 0px -3px 0rem 3px #b98c03 !important;

}
#optionsMenu .form-check{
    margin: 2%;

}

#openReviewButton{
    border: none;
    background-color: #fd7e14;
    font-size: 1.5em;
    font-weight: 900;
}








#reportForm {
       display: none;

}


#reportContainer{

    padding: 3%;

}

#reportView h3{
    font-weight: 900;
    padding: 5%;
}

.quickReport{
    padding: 5%;

}



.tab-cont {
  display: none;
}

.tab-cont.active {
  display: block;
}

.quiz-result-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.quiz-result-item.correct {
    font-size: 1em;
    background-color: #dff0d8 !important;
    font-weight: 700;
    color: black;
}

.quiz-result-item.incorrect {
    font-size: 1em;
    background-color: #f2dede !important;
    font-weight: 700;
    color: black;
}


.quiz-result-item:hover {
  cursor: pointer;
}

.quiz-result-item:hover .question-number {
  text-decoration: underline;
}



.content-wrap{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



.text-area {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

