
*{
    color: #636363;
}
.h1{
	    font-weight: 900;
}


.btn-main, .btn-check:checked+.btn-main, .btn-main.active, .btn-main:active, .show>.btn-main.dropdown-toggle {

    background-color: rgb(108 117 125) ;
color: #fff;
	    cursor: pointer;
}

.btn-main:hover {
    color: #fff;
    background-color: rgb(201 99 14);
    border-color: rgb(108 117 125) ;
	cursor: pointer;
}


.PopupWrap{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #00000080;
    padding: 10%;
}



.explanation-container {
display:none;
}

.explanation{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}





#optionsMenu h3,  #quizInfoPopup h3 {
 margin-top: 0;
    font-size: 3em;
    font-weight: 900;
	color: #ffffff;
text-indent: 2%;
}
#optionsMenu input{
	color: #fd7e14;
    font-size: 3em;
    font-weight: 800;
}
		#optionsPopup{

}		

.optionspopup {
    background-color: #e7e7e7;
    padding: 5% 0 0 0;
    border-radius: 2em;
    margin: auto;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 80%;
    height: 80%;
    overflow-y: clip;
    box-shadow: inset 0px 1px 0rem 14px #fd7e14 !important;
    display: block;
}

.scrollWrap{
    width: 98%;
    height: 86%;
    overflow-y: scroll;
    padding-bottom: 5%;
}


#quizInfoPopup, #optionsMenu{
width: 90%;
    margin: auto;
    background-color: #fd7e14;
    box-sizing: border-box;
    padding: 1%;
    border-radius: 1em;
    font-weight: 900;
    color: #3c3b3a;
    margin-bottom: 10%;
    box-shadow: inset 0px -3px 0rem 3px #b98c03 !important;

}
#quizInfoPopup span, #optionsMenu span{
    color: #ffffff;

}

		
	#quizInfoPopup	p {
    margin-top: 0;
    margin-bottom: 1%;
}
		
#closeOptionsButton{
    width: 100%;
    background-color: #fd7e14;
    padding: 1%;
    border: none;
    font-size: 3em;
    font-weight: 800;
    color: white;
}

.center{
    margin: auto;
text-align: center;
}
.block{
    width: 90%;
    display: block;
    margin: 1% auto;
    background-color: #fd7e14;
    box-sizing: border-box;
    padding: 1%;
    border-radius: 1em;
}
#optionsMenu .form-check{
    margin: 2%;

}











#reportForm {
       display: none;

}


#reportContainer{

    padding: 3%;

}

#reportView h3{
    font-weight: 900;
    padding: 5%;
}

.quickReport{
    padding: 5%;

}












