	
main_section {
    width: 100vw !important;
    height: 90vh !important;
    overflow: hidden;
    /* scroll-behavior: smooth; */
    /* scroll-snap-type: block; */
    /* scroll-snap-align: center; */
    /* scroll-snap-stop: always; */
    display: contents;


    box-sizing: border-box;
}
#discussionContainer{
cursor: pointer;
}

.coach-description{
cursor: pointer;
background-color: #e8e8e8;
    margin: 2%;
    padding: 2%;
}

#adPic {
    width: 50% !important;
    margin: auto;
    bottom: 0;
    top: 0;
    position: absolute;
    display: block;
    right: 0;
    left: 0;
}


@keyframes shake {
  0% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}




.shake-animation {
  animation: shake 0.5s;
}



@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}



.pulse-animation {
  animation: pulse 0.5s;
}



.answer-option, #questionImageArea{
    display: none;


}



#ad-container {
    position: absolute;
    width: 100%;
    height: 100%;
      display:none;
  }
#ad-box{
    text-align: center;
    display: block;
    height: 100%;
    background-color: #75a4e9;
    position: relative;
}
#ad-view{
   margin: auto;
    width: fit-content;
    /*top: 0 !important;*/
    bottom: 0 !important;
    display: block;
    left: 0;
    position: absolute;
    height: fit-content;
    right: 0;
    font-size: 2em;
}

  .ad-text {
    font-weight: bold;
	  font-weight: 500;

  }



    
      /* Quiz styles */
      #quiz-container {
        max-width: 750px;
        margin: 0 auto;
        text-align: center;
        margin-top: 50px;
        position: relative;
	          height: 90vh !important;
    display: table;
      }

      #quiz-container h1 {
        margin-bottom: 20px;
      }

      #quiz-container ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      #quiz-container li {
        margin: 10px 0;
      }

 .layer-1 {
    background-color: #F8F9FA;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    padding: 20px;
  }

  .layer-2 {
    background-color: #FFFFFF;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    padding: 20px;
    position: relative;
    width: 100%;
    display: grid;
  }



  #questionImageArea {
    width: 100%;
    padding: 5%;
    margin: auto;
	  
  }

  #questionImage {
    width: 50%;
    object-fit: fill;
    display: block;
    margin: auto;
	  
  }








      .answer-option {
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        padding: 10px 20px;
        transition: background-color 0.3s ease;
        width: 100%;
        max-width: 400px;
        color: #292834;

      }

      .answer-option:hover {
        background-color: #ddd;
      }
#btn_container{
 display:block;
 
}

      #next-btn,
      #skip-btn {
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        margin: 20px 10px;
        padding: 10px 20px;
        transition: background-color 0.3s ease;
      }

      #next-btn:hover,
      #skip-btn:hover {
        background-color: #555;
      }




      /* Result styles */
      #end-container {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        margin-top: 50px;
      }

      #end-container h2 {
        margin-bottom: 20px;
      }

      #end-container p {
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
      }


.missed{
    background-color: #909fad !important;
}
  
/* Progress bar */

.progress-bar-container{
  display:flex;
}

.progress-bar {
  height: 10px;
  width: 0%;
  background-color: #007bff;
  border-radius: 4px;
  transition: width 0.2s ease;
     margin: 2% 0 4% 0;
}

.progress-bar-container.complete .progress-bar {
  background-color: #28a745;
}

.progress-bar-container.expired .progress-bar {
  background-color: #dc3545;
}

.progress-bar-container label {
  font-size: 14px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* Style for correct answer */
.correct {
  background-color: green  !important;
}

/* Style for incorrect answer */
.incorrect {
  background-color: red !important;
}

/* Style for correct answer option */
.correct::before {
  content: "\2713"; /* Unicode character for checkmark */
  color: white;
  display: inline-block;
  margin-right: 10px;
}

/* Style for incorrect answer option */
.incorrect::before {
  content: "\2718"; /* Unicode character for cross mark */
  color: white;
  display: inline-block;
  margin-right: 10px;
}

/* Style for skipped answer option */
.skipped::before {
  content: "?"; /* Unicode character for question mark */
  color: white;
  display: inline-block;
  margin-right: 10px;
}

/* Style for explanation */
#explanation {
  margin-top: 20px;
	text-align: center;

}

/* Style for result score */
.result-score {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Style for result message */
.result-message {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style for result detail */
.result-detail {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Style for quiz link */
.quiz-link {
  margin-top: 20px;
  font-size: 18px;
}

.quiz-link a {
  color: #333;
  text-decoration: underline;
}

.quiz-link a:hover {
  color: #555;
}














/* Result styles */
#end-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  background-color: #F8F9FA;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

#end-container h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
}

#end-container p {
  font-size: 1.2rem;
  color: #292834;
  margin-bottom: 10px;
}





.green {
    background-color: #78cf6e !important;

}


.other-quiz-btn {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #CED4DA;
    border-radius: 4px;
  transition: background-color 0.3s ease;
	    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.other-quiz-btn:hover {
  background-color: #555;
}


























/* Styles for the social-sharing section */
#social-sharing {
  padding: 5%;
}

/* Styles for the social-sharing buttons */
#social-sharing .btn {
  display: inline-block;
  padding: 2%;
  margin: 1%;
}

/* Styles for the getFull_BTN element */
#getFull_BTN {
  width: 80%;
  padding: 2%;
  margin: 5% 0 10% 0;
}

#quiz-timer-qn {
  display: flex;
}

#question-number {
  /* Add your styles here */
}

/* Example CSS styling for the pie chart */
#pie-chart {
  margin-top: 20px;
  width: 50% !important;
  height: 50% !important;
  margin: auto;
}

.badge-img {
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}



.animate-earned-points {
  animation: pointsAnimation 1s ease-in-out;
}

@keyframes pointsAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}

#earnedPoints {
  font-size: 2em;
}

.bmc-btn {
  background-color: #0d6efd !important;
}

#social-sharing .btn {
  width: 40%;
}

#badgeBox {
  overflow: hidden;
  display: grid;
  width: 100%;
}

	
	
	
	.card.awardBadge {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.badge-layer-1 {
  background-color: #e9ebee;
  width: 100%;
  height: 6px;
  border-radius: 4px 4px 0 0;
}

.badge-layer-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  margin-top: -60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.badge-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.card-body {
  text-align: center;
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  margin-bottom: 5px;
}


	
	


.btn_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}





#explanation_bar {
      display: flex;
  align-items: center;
  margin-bottom: 10px;
	width: 100%;
}

#difficulty {
  font-size: 16px;
  font-weight: bold;
  color: #333;
		width: 50%;

}

#realQustionNum {
  font-size: 14px;
  color: #666;
	width: 40%;
}

#close-btn {
  font-size: 24px;
  color: #999;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
		width: 10%;

}

#close-btn:hover {
  color: #666;
}

.explanation-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  max-width: 90%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: move;
	display:none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #999;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.close-button:hover {
  color: #666;
}

	
	
	#reportForm{
		
    position: absolute;
        min-width: 50%;
    max-width: 60%;
    display: block;
    margin: auto;
    z-index: 500;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    top: 0;
    height: fit-content;
    padding: 3%;
    border: 1px solid #ddd;
    padding: 20px;
		display:none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}

#otherQuizzes {
  background-color: #f2f2f2;
  padding: 20px;
  border-top: 1px solid #ddd;
  font-family: Arial, sans-serif;
margin-top: 10%;
}

#otherQuizzes h3 {
  color: #666;
  font-size: 18px;
}

#otherQuizzes hr { 
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.otherQuizzes-column {
  display: inline-block;
  width: 100%;
}

.otherQuizzes-column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
	    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.otherQuizzes-column li {
  margin-bottom: 5px;
	    flex: 33%;
	    text-align: center;
	    padding: 2%;
}

.otherQuizzes-column a {
  color: black;
  text-decoration: none;
}

.otherQuizzes-column a:hover {
  text-decoration: none;
}
