 body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    h1 {
      text-align: center;
    }

    form {
      max-width: 800px;
      margin: 0 auto;
     width: 80%;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input[type="text"],
    textarea,
    select {
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }

    select {
      height: 34px;
    }

    textarea {
      resize: vertical;
    }

    .optionRow {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }

    .option {
      flex: 1;
      margin-right: 10px;
    }

    .correctAnswer {
      margin-right: 5px;
    }

    #addOptionButton {
    display: inline-flex;
      background-color: #ffc107;
      color: white;
      border: none;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      margin-top: 10px;
      border-radius: 4px;
    }

    #addOptionButton:hover {
      background-color: #45a049;
    }

#removeOptionButton {
    display: inline-flex;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
}
    #removeOptionButton:hover {
    background-color: #af4c4c;
    }

#generateJSONButton {

}
    #generateJSONButton:hover {
    background-color: #3f74c1;
    }



    input[type="submit"] {
      display: block;
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      margin-top: 10px;
      border-radius: 4px;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }


#questionList {
       max-width: 800px;
      margin: 5% auto;
     width: 95%;
}

  .questionListItem {

    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: .5em;
    cursor: pointer;
    width: 100%;
    position: relative;
   overflow: hidden;
  
  }
.questionListtext{
    padding: 10px;
  top: 0;
    bottom: 0;
    left: 0;
    width: 90%;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
}

.removeButton {
    position: absolute;
    right: 0;
    margin: auto;
    display: block;
    top: 0;
    bottom: 0;
    border: none;
    background-color: red;
    font-size: 1em;
    font-weight: 500;
     width: 10%;

}

select, textarea {
height: auto;

}

section {
      margin-bottom: 5%;
    margin-top: 5%;
    font-weight: 500;
    font-size: 1.2em;
}
























































