
  /* Global styles */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    }

    h1 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      margin-bottom: 15px;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
    }

    /* Card styles */
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 20px;
    }

    .card img {
      width: 100%;
      height: auto;
    }

    .card-body {
      padding: 20px;
    }

    .card-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .card-text {
      font-size: 16px;
      color: #555;
    }

    .btn-primary {
      background-color: #1877f2;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      display: inline-block;
      transition: background-color 0.3s;
    }

    .btn-primary:hover {
      background-color: #0755a6;
    }

  /* Custom CSS */
  #quiz_list {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #quiz_list h2 {
    color: #333;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  #quiz_list p {
    color: #666;
    font-size: 14px;
  }

  #quiz_list .lazyloadtext {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }

  #quiz_list .lazyloadtext:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  #quiz_list .lazyloadtext a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  #quiz_list .lazyloadtext a:hover {
    color: #666;
  }


.container-fluid {
  background-color: #4267B2; /* Replace with the primary color of your choice */
}

.text-white {
  color: #fff; /* Replace with the text color of your choice */
}

.form-control {
  background-color: #fff; /* Replace with the background color of your choice */
  color: #333; /* Replace with the text color of your choice */
}
{
  
  

.form-group{
  
  
  }
  
  
    #number-container {
 

    box-sizing: border-box;
    width: 100%;
    display: flex;
  }

  .number-div {
    display: none;
    width: 100%;

  }

  .number-div.active {
    display: block;
  }
	
	.cg_ad{
    width: 100%;
    height: fit-content;
    display: block;
    min-width: 250px !important;
	}
	
	
	.back-to-top {
    width: 80%;
    margin: auto;
    padding: 1%;
    margin-bottom: 4%;
}
	.card-body {

   
	}
	.card-title{
		
		
	}
	.card-text{
		
	}
	.card-Q {
  height: 100%;
}

	


 .list-group-item-action {
    width: 100%;
  }

  .container {
    margin-bottom: 20px;
  }







